{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
        <title>
            {% block title %}{% endblock %} | SS13 Hub
        </title>
    </head>

    <body>
        <header>
            <nav id="navbar">
                <ul>
                    <li><a href="/">SS13 Hub</a></li>
                    <li><a href="{% url 'gameservers:index' %}">Servers</a></li>
                    <li class="divider"></li>
                    <li><a href="http://www.byond.com/games/exadv1/spacestation13">
                            Byond
                    </a></li>
                </ul>
            </nav>
        </header>

        <section id="content">
            {% block content %}
            {% endblock %}
        </section>

        <footer id="bottom_footer">
            <p>
            {# TODO: not sure about the copyright stuff when fetching ext. data #}
                <span class="left">
                    Copyright © {% now 'Y' %}
                    A. Svensson
                </span>

                Using raw data from
                <a href="http://www.byond.com/games/exadv1/spacestation13">
                    Byond.
                </a>

                <span class="right">
                    Source code at
                    <a href="https://github.com/lmas/ss13_se">Github</a>.
                </span>
            </p>
        </footer>

    {# jQuery is needed in debug mode for django debug toolbar #}
    {% if debug %}
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    {% endif %}
    </body>
</html>
