{% extends "base_site.html" %}
{% load staticfiles %}

{% block title %}
    Index
{% endblock %}

{% block content %}
    <table id="servers" class="table table-hover tablesorter">
        <thead>
            <tr>
                <th><span>Players</span></th>
                <th><span>Server</span></th>
            </tr>
        </thead>
        <tbody>
            {% for server in server_list %}
                <tr>
                    <th>{{server.players_current}}</th>
                    <th>
                        <a href="{% url 'gameservers:detail' pk=server.id slug=server %}">
                            {{server}}
                        </a>
                    </th>
                </tr>
            {% empty %}
                <tr>
                    <th>?</th>
                    <th>Sorry, no servers!</th>
                <tr>
            {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.tablesorter.min.js' %}"></script>
    <script>
        $(document).ready(function(){
            var settings = {
                cssAsc: 'tablesorter-asc',
                cssDesc: 'tablesorter-desc',
                cssHeader: 'tablesorter-head',
            };
            $("#servers").tablesorter(settings);
        });
    </script>
{% endblock %}
