{% extends "base_site.html" %}
{% load staticfiles %}
{% load server_utils %}

{% block title %}
    Index
{% endblock %}

{% block content %}
    <table id="servers" class="table table-hover tablesorter">
        <thead>
            <tr>
                <th><span></span></th>
                <th><span>Players</span></th>
                <th><span>Server</span></th>
            </tr>
        </thead>
        <tbody>
            {% for server in server_list %}
                {% with delta_hours=server.last_updated|hours_since_now %}
                    {% if delta_hours > 24 %}
                <tr class="danger">
                    <th>
                        <span title="Offline: not seen since the last day." class="glyphicon glyphicon-remove-sign"></span>
                    </th>
                    {% elif delta_hours >= 1 %}
                <tr class="warning">
                    <th>
                        <span title="Unknown: not seen since the last hour." class="glyphicon glyphicon-question-sign"></span>
                    </th>
                    {% else %}
                <tr>
                    <th>
                        <span title="Online" class="glyphicon glyphicon-ok-sign"></span>
                    </th>
                    {% endif %}
                {% endwith %}
                    <th>{{server.players_current}}</th>
                    <th>
                        <a href="{% url 'gameservers:detail' pk=server.id slug=server %}">
                            {{server}}
                        </a>
                    </th>
                </tr>
            {% empty %}
                <tr>
                    <th>?</th>
                    <th>Sorry, no servers!</th>
                <tr>
            {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.tablesorter.min.js' %}"></script>
    <script>
        $(document).ready(function(){
            var settings = {
                cssAsc: 'tablesorter-asc',
                cssDesc: 'tablesorter-desc',
                cssHeader: 'tablesorter-head',
                headers: {
                    0: {
                        sorter: false, // Don't sort the status column
                    },
                },
            };
            $("#servers").tablesorter(settings);
        });
    </script>
{% endblock %}
