
/* Main elements **************************************************************/
html {
    height: 100%;
}

body {
    background-color: #fff;
    padding: 0px;
    margin: 0px;
    min-height: 100%;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial,sans-serif;
}

/* Header and navbar **********************************************************/
#navbar {
    background-color: #333;
    background-image: -moz-linear-gradient(center top , #333, #222);
    padding: 0;
    margin: 0;
    font-size: 13px;
}

#navbar ul{
    list-style: none;
    width: 85%;
    margin: 0 auto;
    padding: 0;
}

#navbar li {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin-right: 20px;
}

#navbar a {
    color: #999;
    text-decoration: none;
}

#navbar a:hover {
    color: #fff;
    text-decoration: none;
}

#navbar .divider {
    border-left: 1px #999 solid;
    height: 20px;
    position: relative;
    top: 5px;
}

/* Page content ***************************************************************/
#content {
    background-color: #fff;
    padding: 0px;
    width: 85%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 40px;
}

#chart {
    width:800px;
    height:200px;
}

#tooltip {
    position: absolute;
    display: none;
    border: 1px solid #fdd;
    padding: 2px;
    background-color: #fee;
    opacity: 0.80;
}

/* Footer *********************************************************************/
#bottom_footer {
    font-size: 11px;
    color: #666;
    width: 85%;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#bottom_footer a {
    color: #444;
    font-weight: bold;
}

#bottom_footer a:hover {
    color: #444;
}

/* Utils **********************************************************************/
.right {
    float: right;
}

.tablesorter-head ::before {
    font-family: "Glyphicons Halflings";
    content: "−";
    margin-right: 5px;
    font-size: small;
}

.tablesorter-asc ::before {
    font-family: "Glyphicons Halflings";
    content: "";
}

.tablesorter-desc ::before {
    font-family: "Glyphicons Halflings";
    content: "";
}

