{{template "header" .}}

<h1>About</h1>
<p>A server hub dedicated to SS13 and possibly a better replacement for the default
server page at <a href="http://www.byond.com/games/exadv1/spacestation13">Byond</a>.</p>

<p>More info and full source code can be found on
<a href="https://github.com/lmas/ss13_se">Github</a>.</p>

<h2>Data Sources</h2>
<p>The data used for most of the <strong>public</strong> servers is scraped from
the <a href="http://www.byond.com/games/exadv1/spacestation13">Byond</a> page.</p>

<p>All <strong>private</strong> servers, and some public ones, are being polled
directly for data.</p>

<p>If you would like to <strong>add your server</strong> to the private list,
and accept being polled about 4 times an hour, please open a
<a href="https://github.com/lmas/ss13_se/issues/new">new ticket</a> on the
issue tracker on github.</p>

{{template "footer"}}

